{% extends 'blog/base.html' %}
{% load static %}
{% load base_tags %}
{% block title %} | {{object.title}}{% endblock %}

{% block header_thumbnail %}{{ object.thumbnail.url }}{% endblock %}

{% block header_title %}{{object.title}}{% endblock %}

{% block main %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <h4 class="post-subtitle">
              {{object.description | linebreaks}}
            </h4>
            <p class="post-meta">نوشته شده توسط 
              <a href="{% url 'blog:author' article.author.username %}">{{article.author.get_full_name}}</a>
              در {{object.jpublished}}
              {% article_category_tags object %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
{% endblock %}