{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% load wysiwyg %}

{% block title %}افزودن مقاله{% endblock %}
{% block main %}
<div class="row">
    <div class="col-12 col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="lnr lnr-plus-circle"></i> افزودن مقاله</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-rtl">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-rtl">
                                {{ form.slug|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-rtl">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-rtl">
                                {{ form.category|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-rtl">
                                {{ form.thumbnail|as_crispy_field }}
                                {{ form.published|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-rtl">
                                {{ form.author|as_crispy_field }}
                            </div>
                            <div class="col-md-6 col-rtl">
                                {{ form.status|as_crispy_field }}
                            </div>
                        </div>
                        <button class="btn btn-success">انتشار مقاله</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_extra %}
    {% wysiwyg_setup %}
    <script type="text/javascript">
        var django_wysiwyg_editor_config = {
            'language': 'fa',
            'skin': 'moono-lisa',
            'toolbarGroups' : [
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
                { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                '/',
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] }
            ],
            'removeButtons' : 'Save,NewPage,Preview,Print,Templates,PasteFromWord,Scayt,Checkbox,Form,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,Language,Flash,Styles,About'
        };
    </script>
    {% wysiwyg_editor form.description.auto_id %}
{% endblock %}