{% load navbar_tags %}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                {% item_menu False 'lnr-home' 'خانه' '#' %}
                {% submenu False 'lnr-file-empty' 'مقالات' %}
                    {% item_menu False 'lnr-list' 'لیست مقالات' '#' %}
                    {% item_menu False 'lnr-plus-circle' 'افزودن مقاله' '#' %}
                {% endsubmenu %}
                {% item_menu False 'lnr-exit' 'خروج' '#' %}
            </ul>
        </nav>
    </div>
</div>