{% load sidebar_tags %}

<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                {% submenu 'articles' 'lnr-file-empty' 'مقالات' %}
                    {% url 'account:article-list' as item_url %}
                    {% item_menu 'article-list' 'lnr-list' 'لیست مقالات' item_url %}
                    {% item_menu 'article-create' 'lnr-plus-circle' 'افزودن مقاله' '#' %}
                {% endsubmenu %}
                {% item_menu 'logout' 'lnr-exit' 'خروج' '#' %}
            </ul>
        </nav>
    </div>
</div>