body{
    direction: rtl;
}
body, .shabnam-font{
    font-family: Shabnam !important;
}
a{
    text-decoration: none;
}
.input100 {
    padding: 0 43px 0 7px;
}
.focus-input100::after, .focus-input100::before {
    left: initial;
	right: 0;
}