{% extends 'account/base.html' %}
{% block main %}
<div class="row">
    <div class="col-12 col-md-12">
        <!-- RECENT PURCHASES -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">لیست مقالات</h3>
            </div>
            <div class="panel-body no-padding">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ستون ۱</th>
                            <th>ستون ۲</th>
                            <th>ستون ۳</th>
                            <th>ستون ۴</th>
                            <th>ستون ۵</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">متن ۱</a></td>
                            <td>متن ۲</td>
                            <td>متن ۳</td>
                            <td>متن ۴</td>
                            <td><span class="label label-success">متن ۵</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> لورم ایپسوم</span></div>
                    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">تست</a></div>
                </div>
            </div>
        </div>
        <!-- END RECENT PURCHASES -->
    </div>
</div>
{% endblock %}