body{
    direction: rtl;
    text-align: right;
    font-family: Shabnam;
}
.sidebar .nav {
	padding-left: 0;
	padding-right: 0;
}
#wrapper .sidebar {
	left: initial;
	right: 0;
}
.sidebar .nav > li > a {
	border-left: 0;
	border-right: 5px solid transparent;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a.active
{
    border-right-color: #00AAFF;
}
.sidebar .nav > li ul > li > a {
    margin-right: 20px;
}
.sidebar .nav > ul li > a:focus, .sidebar .nav > ul li > a.active {
    border-right-color: #1784bb;
}
.slimScrollBar{
    left: 1px;
    right: initial !important;
}
#wrapper .main {
    float: left;
}
.layout-fullwidth #wrapper .sidebar {
    right: -260px;
}
.layout-fullwidth #wrapper .navbar {
    right: 0 !important; 
}
.offcanvas-active #wrapper .sidebar {
    right: 0; 
}
.offcanvas-active #wrapper .main {
    right: 260px; 
}
@media screen and (max-width: 1024px) {
    #wrapper .sidebar {
      right: -260px;
    }
    #wrapper .navbar {
      right: 0 !important;
    }
}
.sidebar .nav > li > a {
	padding: 18px 10px;
}
.sidebar .nav li a span{
    margin-right: 5px;
}
.table > thead > tr > th {
	text-align: right;
}
.dropdown-menu > li > a {
	text-align: right;
}
.navbar-nav > li > a {
    padding: 17px 20px;
}
.navbar-nav > li > a img {
	width: 48px;
	margin-right: 22px;
}
.navbar-nav > li > a > span {
    margin-left: 5px;
    margin-right: 5px;
}
.navbar-right{
    padding-right: 10px;
}
.brand.navbar-right{
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    direction: ltr;
    text-align: left;
    left: 0;
    right: initial;
}
footer, .copyright{
    font-size: 11px;
}
footer a{
    color: #555;
}