{% extends 'blog/list.html' %}
{% load static %}

{% block header_thumbnail %}{% spaceless %}
  {% if category.thumbnail %}
    {{ category.thumbnail.url }}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endspaceless %}{% endblock %}

{% block header_title %}
  {{category.title}}
{% endblock %}

{% block next_page_url %}
  {% url 'blog:category' category.slug_path page_obj.next_page_number %}
{% endblock %}

{% block previous_page_url %}
  {% url 'blog:category' category.slug_path page_obj.previous_page_number %}
{% endblock %}